{% extends 'new/base.html' %}
{% block title %}
TEST
{% endblock %}


{% block content %}
   <h1>STORE PAGE</h1>
{% for i in page_obj.object_list %}
<div class="col-md-4">
<div class="h-100 p-5 bg-light border rounded-3">


<h4>{{ i.title }}</h4>
<p>{{ i.content }} </p>
<p>{{ i.cost }} грн </p>

{% if i.rating %}
<p>{{ i.rating }}/5 рейтинг </p>
{% endif %}
<a class="" href="{% url 'post' i.id %}">Детальніше</a>

  <div class="media">
      {% if i.photo %}
  <img src="{{ i.photo.url }}" alt="" width="100">
      {% endif %}
  </div>

{% for j in i.categores.all %}
<p style="color: gray">#{{ j }} </p>
{% endfor %}

</div></div><br>{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
         {% for p in page_obj.paginator.page_range %}
       <li class="page-item">
       <a class="page-link" href="?page={{ p }}">{{ p }}</a>
       </li>
         {% endfor %}
  </ul>
</nav>


{% endblock %}